PORT=3000
CAFE_NAME=Coffee Shop
NODE_ENV=development

SUPABASE_URL=https://kfnjrfngxucickztwcxw.supabase.co
SUPABASE_SERVICE_KEY=sb_publishable_eEMxPbsX9HVCLKAl2_ZhRQ_01r-IZA-

BALE_BOT_TOKEN=41683783:-eRHTgeEFHCPY3dP1B21v_pC-L27ng30XIE
BALE_CHAT_ID=5510336904
BALE_ADMIN_CHAT_ID=1705431004

SESSION_SECRET=
PUBLIC_URL=